<h1>Messages#inbox</h1>

<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Received</th>
  </tr>
  
  <% for message in @messages %>
    <tr>
      <td><%= message.author %></td>
      <td><%= link_to (message.subject), message_path(message) %></td>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
    </tr>
  <% end %>
</table>