<h2>Отправленные сообщения</h2>

<table>
  <tr>
    <th>Получатель</th>
    <th>Тема</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%= message.recipient.name %></td>
      <td><%= link_to message.subject, message_path(message) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @messages, window: 2 %>