<h1>Messages#show</h1>
<h2><%= @message.subject %></h2>

<p><strong>From:</strong> <%= @message.author.name %></p>
<p><strong>Received:</strong> <%= @message.created_at.to_s(:long) %></p>

<pre><%= @message.body %></pre>
