<b>Комментарии</b><br/>
<% if @comments.any? %>
    <div id="comments">
      <% @comments.each do |comment| %>
            <%= render comment %>
        <% end %>
    </div>
<% else %>
    <div id="no-comments">Комментариев нет</div>
    <div id="comments"></div>
<% end %>

