<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height: 400px; width: 600px"></div>

<script>
    <% if @locationable.present? %>
        var presence = true;
        var latlng = <%= [@locationable.location.latitude, @locationable.location.longitude] %>;
    <% else %>
        var presence = false;
    <% end %>

    $(document).ready(addLocation());
    $(document).on('page:load', addLocation());
    $(document).on('page:change', addLocation());
</script>