<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<div id="map" style="height: 400px; width: 600px"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    <% if @locationable.present? %>
        var presence = true;
        var latlng = <%= [@locationable.location.latitude, @locationable.location.longitude] %>;
    <% else %>
        var presence = false;
    <% end %>

    $(document).ready(addLocation());
    $(document).on('page:load', addLocation());
    $(document).on('page:change', addLocation());
</script>