
<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height: 400px; width: 600px"></div>

<script>
    var name = '<%= @locationable.name %>';
    var latlng = <%= [@locationable.location.latitude, @locationable.location.longitude] %>;
    var type = '<%= @locationable.type.name %>';

    $(document).ready(showLocation());
    $(document).on('page:load', showLocation());
    $(document).on('page:change', showLocation());

</script>

<div id="location"></div>