
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<div id="map" style="height: 400px; width: 600px"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    var map = L.map('map').setView([49.437820, 32.058959], 13);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Все секции',
        id: 'examples.map-i875mjb7'
    }).addTo(map);

    <% @clubs.each do |club| %>
    L.marker(<%= [club.location.latitude, club.location.longitude] %>).addTo(map)
            .bindPopup("<b><a href='<%= club_path(club) %>'><%= club.name %></a></b><br/>Категория: <%= club.type.name %>");
    <% end %>

</script>

<div id="location"></div>